@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #e3e6e6 !important;
}

.productTitle {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  white-space: normal;
  width: 150px;
}
